LICHESS_TOKEN=[your lichess token]
GOOGLE_DRIVE_FOLDER_ID=[folder id for file storage on Google Drive]

NB:
1. Square Braces not required
2. To run offline (not via github actions) Create credentials.json and set GOOGLE_APPLICATION_CREDENTIALS:
    Windows: set GOOGLE_APPLICATION_CREDENTIALS=%CD%\credentials.json
    PowerShell: $env:GOOGLE_APPLICATION_CREDENTIALS = "$PWD\credentials.json"
    Unix/Mac: export GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/credentials.json

